<!-- Contact -->
<section id="contact">
  <div class="inner">
    <section>
      <h2>Contact</h2>
      <div data-youform-embed data-form='qtdfjvuz' data-width='100%' data-height='700px'></div>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="mailto:visal.dam@deakin.edu.au">visal.dam@deakin.edu.au</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon brands alt fa-linkedin-in"></span>
          <h3>LinkedIn</h3>
          <span><a href="https://linkedin.com/in/visal-dam" target="_blank">linkedin.com/in/visal-dam</a>↗</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-home"></span>
          <h3>Address</h3>
          <span>Melbourne, VIC</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-phone"></span>
          <h3>Telephone</h3>
          <span>Available upon request.</span>
        </div>
      </section>
    </section>
  </div>
</section>

<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="https://github.com/visal-dam" target="_blank" class="icon brands alt fa-github"><span
            class="label">GitHub</span></a></li>
      <li><a href="https://linkedin.com/in/visal-dam" target="_blank" class="icon brands alt fa-linkedin-in"><span
            class="label">LinkedIn</span></a></li>
      <li><a href="https://experts.deakin.edu.au/65474-visal-dam" target="_blank" class="icon solid alt fa-user"><span
            class="label">Staff</span></a></li>
      <li><a href="https://orcid.org/0009-0006-3449-3167" target="_blank" class="icon brands alt fa-orcid"><span
            class="label">ORCID</span></a></li>
    </ul>
    <ul class="copyright">
      <li>© 2025 Visal Dam</li>
      <li>Design adapted (and modified) from: <a href="https://html5up.net" target="_blank">HTML5 UP</a>↗</li>
    </ul>
  </div>
</footer>