<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio-about.html">About</a></li>
        <li><a href="portfolio-selected_projects.html">Selected Projects</a></li>
        <li><a href="landing.html">Publications</a></li>
        <li><a href="landing.html">Awards</a></li>
        <li><a href="landing.html">Other</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="#contact" class="button fit">Contact</a></li>
    </ul>
</nav>